<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h4>Tap the button to authenticate</h4>
    <ion-button expand="full" fill="outline" (click)="showFingerprintAuthDlg()">Fingerprint Authenticate
    </ion-button>

    <h4>Send messaged to Whatsapp</h4>
    <ion-button href={{url}} expand="full" fill="outline">Send Message
    </ion-button>
    
    <h4>Get device data</h4>
    <ion-button expand="full" fill="outline" (click)="getUniqueDeviceID()">Get UniqueId
    </ion-button>
  </div>
</ion-content>
